resources/zoom_*
homeworks/hw1/brca_metabric.tgz
homeworks/hw1/.ipynb_checkpoints/
homeworks/hw1/brca_metabric_processed/*
homeworks/hw2/lgggbm_tcga_pub_processed/*
submissions/day1/.ipynb_checkpoints/
homeworks/hw2/lgggbm_tcga_pub_processed.tgz
homeworks/hw2/.ipynb_checkpoints/
submissions/day2/lgggbm_tcga_pub_processed/
homeworks/hw3/.ipynb_checkpoints/
submissions/day2/.ipynb_checkpoints/
submissions/day2/lgggbm_tcga_pub_processed.tgz
submissions/day2/lgggbm_tcga_pub_processed/*
submissions/day3/ccle_vs_gdsc*
submissions/day3/logs_flexynesis/*
submissions/day3/.ipynb_checkpoints/*


